#extentionView {
    width:600px;
    height:170px;
    position:absolute;
    bottom:2px;
    right:2px;
    z-index:10;
}
#extentionViewInner {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #333333;
    background-color: #FFFFFF;
    padding: 10px;
    /* opacity:70%; */
}

#authorIcon {
    /* display: block; */
    display: none;
    width: 50px;
    height:50px;
    border-radius: 50%;
    margin: 0 auto;
}

#author {
    display: none;
}

#tweetTextBox {
    /* border: 1px solid #333333; */
    /* border-radius: 8px; */
    padding: 8px;
    margin: 5px 0;
    height: 85px;
    font-family: 'MS 明朝', 'MS Serif', 'serif';
    font-size: 17px;
    color: #FFFFFF;
    /* background-color: #00FF00; */
}

#closeButtonWrapper {
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 100%;
}
#closeButton {
    display: block;
    height: 30px;
    width: 80px;
    outline: none;
    margin: 2px auto;
}