#container {
    width: 160px;
}
#trigger {
    display: block;
    height: 30px;
    width: 80px;
    border-radius: 3px;
    outline: none;
    padding: 2px;
    margin: 2px auto;
    color: #FFFFFF;
    background-color: #62C633;
}
#trigger.stop {
    background-color: #DC143C;
}