#extentionView {
    width:600px;
    height:160px;
    position:absolute;
    bottom:20px;
    right:5px;
    z-index:10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#extentionView.standby{
    display: none;
}
#extentionView.hidden{
    bottom: 0;
    height: 30px;
}

#extensionSwitcher{
    background-size: contain;
    background-image: url("chrome-extension://__MSG_@@extension_id__/img/arrow-expand-down.png");
    background-color: #FFF;
    border: solid 1px;
    border-bottom: none;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}
#extentionView.hidden > #extensionSwitcher{
    background-image: url("chrome-extension://__MSG_@@extension_id__/img/arrow-expand-up.png");
}

#extentionViewInner {
    box-sizing: border-box;
    width: 100%;
    height: 130px;
    border: 1px solid #333333;
    background-color: #FFFFFF;
    padding: 10px;
    /* opacity:70%; */
}
#extentionView.hidden > #extentionViewInner{
    display: none;
}

#authorIcon {
    /* display: block; */
    display: none;
    width: 50px;
    height:50px;
    border-radius: 50%;
    margin: 0 auto;
}

#author {
    display: none;
}

#tweetTextBox {
    /* border: 1px solid #333333; */
    /* border-radius: 8px; */
    padding: 8px;
    margin: 5px 0;
    height: 80px;
    font-family: 'MS 明朝', 'MS Serif', 'serif';
    font-size: 17px;
    color: #FFFFFF;
    /* background-color: #00FF00; */
}